a {
  text-decoration: none;
  color: #000;
}

body {
  background: #e5e5e5;
}

.title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  margin-top: 60px;
  margin-bottom: 36px;
}

.content_page {
  padding: 0 100px;
}

.input {
  border: 1px solid #000000;
  box-sizing: border-box;
  padding-left: 10px;
  outline: none;
  font-family: "Montserrat";
}

.input::placeholder {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: bold;
  color: #908e8e;
}

.button {
  background: #000000;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-size: 16px;
  font-family: "Montserrat";
  cursor: pointer;
}
